.score-board {
  position: relative;
  height: 700px;
}

.score {
  position: absolute;
  font-size: 3em;
  text-align: center;
  width: 100%;
  top: 250px;
}

.playBtn {
  position: absolute;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.4em;
  padding: 10px;
  background-color: rgb(46, 182, 46);
  color: rgb(255, 255, 255);
  top: 350px;
  width: 150px;
  left: 0;
  right: 0;
  margin: auto;
}
